@import "globals.css";

@tailwind base;
@tailwind utilities;


main a {
    color: #F87171 !important;
    font-weight: 600 !important;
    text-decoration: none !important;

}

main a:hover {
    color: #27272A !important;
}

.dark main a:hover {
    color: #F4F4F5 !important;
}

.dark aside>:last-child {
    background-color: #18181B !important;
    box-shadow: none !important;
}

.dark .nextra-scrollbar>* {
    background-color: #18181B !important;
    box-shadow: none !important;
}

.nextra-scrollbar>* {
    background-color: transparent;
    box-shadow: none !important;
}

.dark body {
    background-color: #18181B !important;
    --ui-bg-dark: #18181B;
}


.header {
    background: url("/images/sei-bg-ball.png") no-repeat center;
    background-size: cover;
}

.community-background {
    background: url("/images/sei-bg-simple.png") no-repeat center;
    background-size: cover;
}


html.dark ._text-primary-600 {
    color: #F87171;
}

html.dark ._border-primary-500 {
    border-color: #F87171;
}

body {
    font-family: 'Inter', 'Roboto', sans-serif;
    letter-spacing: -0.011em;
    line-height: 1.35;
}

figure {
    @apply !mt-4 flex flex-col items-center justify-center;
}

figcaption {
    @apply mt-2 text-sm text-center text-neutral-600 dark:text-neutral-400;
}

pre {
    max-height: 500px;
}

.nextra-content img,
.nextra-content iframe {
    border-radius: 0.5rem;
}

iframe {
    margin-top: 1rem;
}

a {
    cursor: pointer;
}

p {
    line-height: 1.6 !important;
}

mark {
    background-color: inherit;
}


@layer utilities {
    .text-link {
        @apply cursor-pointer underline hover:opacity-80;
        color: var(--ui-link-color);
    }

    .text-link-no-underline {
        @apply cursor-pointer hover:opacity-80;
        color: var(--ui-link-color);
    }

    .text-link-hover {
        @apply cursor-pointer hover:text-[var(--ui-link-color)];
    }
}