@import "globals.css";

@tailwind base;
@tailwind utilities;

html,
body,
#__next {
    height: 100%;
}




main a {
    color: #00D181 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}

.faq-container {

    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.logo-light {
    display: block !important;
}

.logo-dark {
    display: none !important;
}

.dark .logo-light {
    display: none !important;
}

.dark .logo-dark {
    display: block !important;
}

.nextra-code {

    width: 100% !important;
}

.dark main a {
    color: #78FFCC !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}

.nextra-code pre {
    height: 272px !important;
}

.nextra-code div {
    background-color: #FFFFFF !important;
    box-shadow: none !important;
}

.dark .nextra-code div {
    background-color: #0F172A !important;
    box-shadow: none !important;

}

.nextra-nav-container {
    background-color: #FFFFFF !important;

}

.dark .nextra-nav-container {
    background-color: #0F172A !important;
}

.dark .nextra-nav-container-blur {
    display: none !important;

}

.nextra-code pre {
    background-color: #F8FAFC !important;
    box-shadow: none !important;
    border: 1px solid #E2E8F0 !important;
}

.dark .nextra-code pre {
    background-color: #1E293B !important;
    box-shadow: none !important;
    border: 1px solid #334155 !important;
}

main a:hover {
    color: #1E293B !important;
}

.dark main a:hover {
    color: #F1F5F9 !important;
}

.dark aside>:last-child {
    background-color: #0F172A !important;
    box-shadow: none !important;
}

.dark .nextra-scrollbar>* {
    background-color: #0F172A !important;
    box-shadow: none !important;
}

.nextra-scrollbar>* {
    background-color: transparent;
    box-shadow: none !important;
}

.dark body {
    background-color: #0F172A !important;
    --ui-bg-dark: #0F172A;
}


.header {
    background: url("/images/cover-image.png") no-repeat center;
    background-size: cover;
}

.community-background {
    background: url("/images/footer.png") no-repeat center;
    background-size: cover;
}


html.dark ._text-primary-600 {
    color: #78FFCC;
}

html.dark ._border-primary-500 {
    border-color: #78FFCC;
}

body {
    font-family: 'Inter', 'Roboto', sans-serif;
    letter-spacing: -0.011em;
    line-height: 1.35;
}

figure {
    @apply !mt-4 flex flex-col items-center justify-center;
}

figcaption {
    @apply mt-2 text-sm text-center text-neutral-600 dark:text-neutral-400;
}

pre {
    max-height: 500px;
}

.nextra-content img,
.nextra-content iframe {
    border-radius: 0.5rem;
}

iframe {
    margin-top: 1rem;
}

a {
    cursor: pointer;
}

p {
    line-height: 1.6 !important;
}

mark {
    background-color: inherit;
}


@layer utilities {
    .text-link {
        @apply cursor-pointer underline hover:opacity-80;
        color: var(--ui-link-color);
    }

    .text-link-no-underline {
        @apply cursor-pointer hover:opacity-80;
        color: var(--ui-link-color);
    }

    .text-link-hover {
        @apply cursor-pointer hover:text-[var(--ui-link-color)];
    }
}